In [1]:
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

In [2]:
df=pd.read_csv('final-dataframe.csv')

X = df.drop('Class Label',axis=1).values

y = df['Class Label'].values

le = LabelEncoder()
y = le.fit_transform(y)
X[:,0] = le.fit_transform(X[:,0])
X[:,1] = le.fit_transform(X[:,1])
print(X)
# print(y)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=101)

[[0 0 0.0 ... 0.0 0.0 0.0]
 [0 2 0.0 ... -1.6007329916935316 6.497981749496539 0.0]
 [0 3 -0.44593508073089183 ... 2.056537247473261 -2.8902808551554604
  2.931640092575865]
 ...
 [12 8 -0.0027934296325855803 ... -10.453709563051351 11.84006853677015
  0.0]
 [12 9 -0.01274025135338598 ... 0.0 -11.350573631077733
  11.508375949808512]
 [12 1 -0.28258493574115945 ... -10.828627457264895 10.990021236891513
  0.0]]

In [21]:
model = KNeighborsClassifier(n_neighbors=6, metric='minkowski', p=3)
model.fit(X_train, y_train)

# Predicting the test set results
y_pred = model.predict(X_test)

# Evaluating the model performance
accuracy = np.mean(y_pred == y_test)
print('Accuracy:', accuracy)

a=[y_pred, y_test]

result=pd.DataFrame(a)
display(result.transpose())

Accuracy: 0.5

    0  1
0   0  1
1   0  1
2   0  1
3   0  1
4   0  0
5   0  0
6   0  0
7   0  0
8   0  1
9   0  0
10  0  0
11  0  1
12  0  0
13  0  1
14  0  1
15  0  1
16  0  1
17  0  1
18  0  1
19  0  0
20  0  1
21  0  0
22  0  0
23  0  0
24  0  0
25  0  1
26  0  0
27  0  1
28  0  1
29  0  0
30  0  0
31  0  1
32  0  1
33  0  1
34  0  0
35  0  0
36  0  0
37  0  0
38  0  0
39  0  1